<!DOCTYPE html>
<html>
<head>
  <title>AlphaBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
   <ul>
<% # this is how to display the notice after an article is created %>
<% flash.each do |name, msg| %>     
     <li> <%= msg %> </li>
   </ul>
  <% end %>
  
<%= yield %>

</body>
</html>
